h1>a,
h1>a:hover,
h1>a:active,
h1>a:focus,
h1>a:visited {
    text-decoration: none;
    color: #000;
}

.h1.block-title,
h1.block-title {
    font-size: 2em;
}


@media (min-width: 992px) {
    .h1.block-title,
    h1.block-title {
        font-size: 56px;
    }
}

p,
a {
    font-weight: 400;
}

.navbar-brand>img {
    height: 20px;
    float: left;
    padding-right: 10px;
}

.navbar-nav>li>p {
    padding: 10px 15px;
    line-height: 22px;
}

@media (min-width: 768px) {
    .navbar-nav>li>p {
        padding: 0;
    }
}

.auth-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: right;
}

.block-title img {
    max-height: 1.25em;
    margin-top: -0.2em;
}

.btn-noclick {
    font-weight: 400 !important;
}

.btn-noclick:hover,
.btn-noclick:active,
.btn-noclick:focus {
    cursor: default;
}

.app-block-footer {
    background-color: rgb(27, 28, 29);
    color: #444;
    color: rgba(116, 119, 123, .5);
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: 20px;
}

body.dark,
body.dark * {
    background-color: #000000 !important;
    color: #bbbbbb !important;
}

body.dark a {
    text-decoration: underline !important;
}

body.dark .navbar-default .navbar-toggle .icon-bar {
    background: #FFFFFF !important;
}

body.dark .label-primary {
    border: 1px solid #685D9F;
}

body.dark .label-success {
    border: 1px solid #5cb85c;
}

body.dark .label-info {
    border: 1px solid #5bc0de;
}

body.dark .label-danger {
    border: 1px solid #FF3167;
}

.result {
    border-top: 1px solid #CCCCCC;
    padding: 1rem 0;
    margin: 0rem 0;
    overflow: hidden;
    text-overflow: clip;
}

.block {
    padding-left: 0;
    padding-right: 0;
}

.label-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.label-group>.label {
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
}

.label-group>.label:first-child {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.label-group>.label:last-child {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

#timer {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#timer>pre {
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-50 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.form-control {
    padding: 4px 7px;
}

.label-title {
    background-color: #ff690f;
    margin-right: 12px;
    font-family: "Abel", "Quicksand", san-serif;
    font-size: 100%;
}

.font17 {
    font-size: 17px;
}

.font12 {
    font-size: 12px;
}

.categ {}

.subcateg {
    margin-top: 20px;
}

.subcateg:first-child {
    margin-top: 0px;
}

.categlink {
    color: black;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
}

.orange {
    background-color: #ff9f0f;
}

.yellow {
    background-color: #ffc00f;
}

.blue {
    background-color: #5bc0de;
}

.blueish {
    background-color: #539dd2;
}

.blueish2 {
    background-color: #5b9bde;
}

.aac {
    background-color: #3390d2;
}

.x264 {
    background-color: #337ab7;
}

.margin5right {
    margin-right: 5px;
}

.fa-caret-up {
    color: rgba(0, 255, 0, 0.5);
}

.fa-caret-down {
    color: rgba(255, 0, 0, 0.5);
}

.fa-caret-equal {
    color: grey;
}

.fa-circle {
    font-size: 9px;
    color: grey;
}

.smallerfont {
    font-size: 9px;
}

.label {
    padding-top: 4px;
}

.nopaddingright {
    padding-right: 0px;
    width: "";
}

.centerbutton {
    padding-left: 30%;
    padding-right: 17px;
}